@font-face {
    font-family: 'Ceremonious One';
    src: url('../Fonts/CeremoniousOne/CeremoniousOne.eot');
    src: url('../Fonts/CeremoniousOne/CeremoniousOne.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/CeremoniousOne/CeremoniousOne.woff') format('woff'),
        url('../Fonts/CeremoniousOne/CeremoniousOne.ttf') format('truetype'),
        url('../Fonts/CeremoniousOne/CeremoniousOne.svg#CeremoniousOne') format('svg');
    font-weight: normal;
    font-style: normal;
}

