@font-face {
    font-family: 'Harbell Personal Use Only';
    src: url('../Fonts/Harbell Personal Use Only/HarbellPersonalUseOnly.eot');
    src: url('../Fonts/Harbell Personal Use Only/HarbellPersonalUseOnly.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Harbell Personal Use Only/HarbellPersonalUseOnly.woff') format('woff'),
        url('../Fonts/Harbell Personal Use Only/HarbellPersonalUseOnly.ttf') format('truetype'),
        url('../Fonts/Harbell Personal Use Only/HarbellPersonalUseOnly.svg#HarbellPersonalUseOnly') format('svg');
    font-weight: normal;
    font-style: normal;
}

