@font-face {
  font-family: 'BravoRG';
  src: url("../Fonts/BravoRGBravoRG.eot");
  src: url("../Fonts/BravoRG/BravoRG.eot?#iefix") format("embedded-opentype"), url("../Fonts/BravoRG/BravoRG.woff") format("woff"), url("../Fonts/BravoRG/BravoRG.ttf") format("truetype"), url("../Fonts/BravoRG/BravoRG.svg#BravoRG") format("svg");
  font-weight: normal;
  font-style: normal; }
