@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url("../Fonts/PFDinTextCondPro/PFDinTextCondPro-MediumItalic.eot");
  src: url("../Fonts/PFDinTextCondPro/PFDinTextCondPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../Fonts/PFDinTextCondPro/PFDinTextCondPro-MediumItalic.woff") format("woff"), url("../Fonts/PFDinTextCondPro/PFDinTextCondPro-MediumItalic.ttf") format("truetype"), url("../Fonts/PFDinTextCondPro/PFDinTextCondPro-MediumItalic.svg#PFDinTextCondPro-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic; }
